*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(2, 2, 20);
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 20%;

}